body {
  margin: auto;
  padding: 10%;
  text-align: center;
  font-family: serif;
  color: #8DF3FF;
  background: linear-gradient(#444444, #262626);
  font-size: 20px;
}

header, footer {
  margin: auto;
  text-align: center;
}

main {
  margin: auto;
}

h1 {
  color: #FF1993;
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
  font-size: 10rem;
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  color: #20A3B2;
  font-family: monospace;
}

h3 {
  color: #B29F11;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bolder;
  text-align: center;
}

img {
  height: 400px;
  margin-bottom: 50px;
}

.review {
  text-align: left;
}

#eloquent {
  display: block;
  margin: auto;
  float:right;
  padding: 5%;
}

#prof {
  display: block;
  margin: auto;
}

#button {
  height: 100;
}

a {
  text-decoration: none;
}

a:link {
  color: #CCC381;
}

a:visited, a:hover {
  color: #B29F11;
}

nav {
  color: #8DF3FF;
  font-family: 'Archivo Narrow', sans-serif;
  text-transform: uppercase;
  font-weight: bolder;
}

p, ol, ul {
  color: #CCC381;
  font-family: 'Archivo Narrow', sans-serif;
}

ol, ul {
  list-style: none;
  padding: 0;
}
/*
#contact {
  text-align: right;
}

#review {
  text-align: right;
}*/
